{% extends "base.html" %}
{% load static %}
{% block content %}



                    <div class="flex flex-col gap-y-4">
                        <div class="">

                        </div>

                        <div class="container-2xl-w mx-auto lg:px-4 2xl:px-0">
                            <div>
                                <div class="flex flex-nowrap py-3 lg:py-5 pr-0 justify-stretch overflow-hidden relative lg:rounded-large styles_AmazingMiniCarousel__X0UW9">

                                </div>
                            </div>
                        </div>

                        <div class="container-2xl-w mx-auto lg:px-4 2xl:px-0">
                            <div class="w-full pr-4 lg:px-4 py-3 lg:pt-4 lg:pb-10 flex flex-col items-center">
                                <div class="mb-6 lg:mb-9 text-center">
                                    <h3 class="text-h3">خرید بر اساس دسته‌بندی</h3>
                                </div>
                                <div class="w-full flex items-center justify-center flex-wrap gap-0 gap-y-6 lg:gap-y-8">
                                    <span data-cro-id="hp-categories-icons" class="styles_WidgetMainCategory__box6__2f40d">
                                    <a class="flex flex-col items-center user-select-none w-full lg:p-0 lg:mx-0" data-savepage-href="/main/mobile/" href="https://www.digikala.com/main/mobile/"><div class="flex items-center justify-center" style="width: 100px; height: 100px; line-height: 0;">
                                        <img class="w-full h-full inline-block" data-savepage-src="https://dkstatics-public.digikala.com/digikala-categories/aba1e5dca8958ac1176e25cd194ff8ac622cd383_1662362431.png" src="" width="100" height="100" alt="موبایل" title="" style="object-fit: contain;"></div><p class="text-body2-strong text-neutral-900 mt-2 text-center ellipsis-2">موبایل</p>
                                    </a>
                                    </span>

                                </div>
                            </div>
                        </div>

                        <div class="container-2xl-w mx-auto lg:px-4 2xl:px-0">
                            <div class="w-full py-6 bg-neutral-000 lg:rounded-large lg:border-complete-200 ">
                                <div class="flex justify-center items-center">
                                    <div class="flex ml-2"><svg style="width: 24px; height: 24px; fill: var(--color-icon-rating-0-2);"><use xlink:href="#topBrands"></use></svg></div>
                                    <p class="text-h3 text-neutral-900">محبوب‌ترین برندها</p>
                                </div>
                                <div class="mt-3 overflow-hidden w-full">
                                    <div>
                                        <div class="swiper-container swiper-container-initialized swiper-container-horizontal swiper-container-pointer-events swiper-container-free-mode swiper-container-rtl">
                                            <div class="swiper-wrapper">
                                                <div class="swiper-slide br-list-horizontal-0 swiper-slide-active" style="width: auto; height: auto;">
                                                    <a class="px-4 py-1 overflow-hidden flex items-center justify-center h-full shrink-0 br-list-horizontal-0" data-cro-id="hp-favorited-barnds" data-savepage-href="/brand-landing/pril/" href="https://www.digikala.com/brand-landing/pril/">
                                                        <div class="flex items-center justify-center" style="width: 110px; height: 110px; line-height: 0;"><img class="w-full inline-block" data-savepage-src="https://dkstatics-public.digikala.com/digikala-brands/2c36ceb629598fa31b9b321fcd4e47773bd93ef7_1649498016.png?x-oss-process=image/resize,m_lfit,h_160,w_160/quality,q_80"
                                                                src=""
                                                                width="110" height="110" alt="پریل" title="" style="object-fit: contain;"></div>
                                                    </a>
                                                </div>
                                                <div class="swiper-slide br-list-horizontal-0 swiper-slide-next" style="width: auto; height: auto;">
                                                    <a class="px-4 py-1 overflow-hidden flex items-center justify-center h-full shrink-0 br-list-horizontal-0" data-cro-id="hp-favorited-barnds" data-savepage-href="/brand-landing/persil/" href="https://www.digikala.com/brand-landing/persil/">
                                                        <div class="flex items-center justify-center" style="width: 110px; height: 110px; line-height: 0;"><img class="w-full inline-block" data-savepage-src="https://dkstatics-public.digikala.com/digikala-brands/7d615272ba7fc5dd708195ae858e2971de86a06f_1649498033.png?x-oss-process=image/resize,m_lfit,h_160,w_160/quality,q_80"
                                                                src=""
                                                                width="110" height="110" alt="پرسیل" title="" style="object-fit: contain;"></div>
                                                    </a>
                                                </div>

                                            </div>
                                            <div class="styles_Slider__next-button-selector__R9M5X hidden lg:flex justify-center items-center bg-neutral-000 absolute cursor-pointer z-5 rounded-circle styles_ScrollHorizontalWrapper__button__uMRet styles_ScrollHorizontalWrapper__button--next__0VY_Y">
                                                <div class="flex"><svg style="width: 24px; height: 24px; fill: var(--color-icon-high-emphasis);"><use xlink:href="#chevronLeft"></use></svg></div>
                                            </div>
                                            <div class="styles_Slider__prev-button-selector__fsha9 hidden lg:flex justify-center items-center bg-neutral-000 absolute cursor-pointer z-5 rounded-circle styles_ScrollHorizontalWrapper__button__uMRet styles_ScrollHorizontalWrapper__button--prev___Vx1r lg:hidden">
                                                <div class="flex"><svg style="width: 24px; height: 24px; fill: var(--color-icon-high-emphasis);"><use xlink:href="#chevronRight"></use></svg></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>



                        <div class="container-2xl-w mx-auto lg:px-4 2xl:px-0">          
                <div class="px-5 lg:px-3  bg-neutral-000 lg:rounded-large lg:border-complete-200">
                    <div class="flex items-center justify-center py-3 lg:py-4 mb-2">
                        <div class="flex"><svg style="width: 24px; height: 24px; fill: var(--color-icon-primary);"><use xlink:href="#discount"></use></svg></div>
                        <h3 class="mr-2 text-h3">منتخب محصولات تخفیف و حراج</h3>
                    </div>
                    <div class="grid grid-cols-2 lg:grid-cols-5 xl:grid-cols-6 styles_WidgetPromotionalGrid__items__AOK7m">
                        <a class="block cursor-pointer relative bg-neutral-000 overflow-hidden grow py-3 px-4 lg:px-2 md:h-full" target="_blank" data-savepage-href="/product/dkp-12922385/%DA%AF%D9%88%D8%B4%DB%8C-%D9%85%D9%88%D8%A8%D8%A7%DB%8C%D9%84-%D8%A2%D9%86%D8%B1-%D9%85%D8%AF%D9%84-x8-%D8%AF%D9%88-%D8%B3%DB%8C%D9%85-%DA%A9%D8%A7%D8%B1%D8%AA-%D8%B8%D8%B1%D9%81%DB%8C%D8%AA-128%DA%AF%DB%8C%DA%AF%D8%A7%D8%A8%D8%A7%DB%8C%D8%AA-%D9%88-6-%DA%AF%DB%8C%DA%AF%D8%A7%D8%A8%D8%A7%DB%8C%D8%AA-%D8%B1%D9%85-%D8%A8%D9%87-%D9%87%D9%85%D8%B1%D8%A7%D9%87-%DA%A9%DB%8C%D9%81-%D9%88-%DA%A9%D8%A7%D9%88%D8%B1/"
                            href="https://www.digikala.com/product/dkp-12922385/%DA%AF%D9%88%D8%B4%DB%8C-%D9%85%D9%88%D8%A8%D8%A7%DB%8C%D9%84-%D8%A2%D9%86%D8%B1-%D9%85%D8%AF%D9%84-x8-%D8%AF%D9%88-%D8%B3%DB%8C%D9%85-%DA%A9%D8%A7%D8%B1%D8%AA-%D8%B8%D8%B1%D9%81%DB%8C%D8%AA-128%DA%AF%DB%8C%DA%AF%D8%A7%D8%A8%D8%A7%DB%8C%D8%AA-%D9%88-6-%DA%AF%DB%8C%DA%AF%D8%A7%D8%A8%D8%A7%DB%8C%D8%AA-%D8%B1%D9%85-%D8%A8%D9%87-%D9%87%D9%85%D8%B1%D8%A7%D9%87-%DA%A9%DB%8C%D9%81-%D9%88-%DA%A9%D8%A7%D9%88%D8%B1/">
                            <div data-testid="product-card" class="h-full">
                                <article class="overflow-hidden flex flex-col items-stretch justify-start h-full">
                                    <div class="flex grow relative flex-col">
                                        <div class="">
                                            <div class="flex items-stretch flex-col relative mb-1">
                                                <div class="flex items-start mx-auto">
                                                    <div>
                                                        <div class="flex items-center justify-start gap-1 flex-wrap absolute top-0 right-0 z-1 style_ProductImage__miniBadges__uxcGX"><br><br></div>
                                                        <div style="width: 150px; height: 150px; line-height: 0;">
                                                            <picture>
                                                                <source type="image/webp" data-savepage-srcset="https://dkstatics-public.digikala.com/digikala-products/d9d2535670053b9360b190d5c9abbcdb9a8ec3cc_1696751274.jpg?x-oss-process=image/resize,m_lfit,h_300,w_300/format,webp/quality,q_80" srcset="">
                                                                <source type="image/jpeg" data-savepage-srcset="https://dkstatics-public.digikala.com/digikala-products/d9d2535670053b9360b190d5c9abbcdb9a8ec3cc_1696751274.jpg?x-oss-process=image/resize,m_lfit,h_300,w_300/quality,q_80" srcset="">
                                                                <img class="w-full rounded-medium inline-block" data-savepage-currentsrc="https://dkstatics-public.digikala.com/digikala-products/d9d2535670053b9360b190d5c9abbcdb9a8ec3cc_1696751274.jpg?x-oss-process=image/resize,m_lfit,h_300,w_300/format,webp/quality,q_80"
                                                                    data-savepage-src="https://dkstatics-public.digikala.com/digikala-products/d9d2535670053b9360b190d5c9abbcdb9a8ec3cc_1696751274.jpg?x-oss-process=image/resize,m_lfit,h_300,w_300/quality,q_80"
                                                                    src=""
                                                                    width="150" height="150" alt="گوشی موبایل آنر مدل X8 دو سیم کارت ظرفیت 128گیگابایت و 6 گیگابایت رم به همراه کیف و کاور " title="" style="object-fit: contain;"></picture>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="grow flex flex-col items-stretch justify-start">
                                            <div class="pt-1 flex flex-col items-stretch justify-between">
                                                <div class="flex items-center justify-between">
                                                    <div class="px-1 text-white rounded-large flex items-center justify-center ProductPrice_ProductPrice__discountWrapper__1Ru_1 bg-primary-700"><span class="text-body2-strong" data-testid="price-discount-percent">۱۸٪</span></div>
                                                    <div class="flex items-center justify-end gap-1 text-neutral-700 text-neutral-400 text-h5 grow"><span data-testid="price-final">۷,۳۹۹,۰۰۰</span>
                                                        <div class="flex"><svg style="width: 16px; height: 16px; fill: var(--color-icon-high-emphasis);"><use xlink:href="#toman"></use></svg></div>
                                                    </div>
                                                </div>
                                                <div class="flex items-center justify-between pl-5">
                                                    <div data-testid="price-no-discount" class="text-neutral-300 line-through self-end mr-auto text-body-2">۹,۰۰۰,۰۰۰</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </article>
                            </div>
                        </a>

                    </div>
                </div>
                        </div>

                        <div class="container-2xl-w mx-auto lg:px-4 2xl:px-0">
                <div class="w-full bg-neutral-000 user-select-none lg:rounded-large">
                    <div class="flex justify-between py-4 items-center px-5">
                        <div class="text-h5 text-neutral-900">خواندنی‌ها</div><span data-cro-id="hp-more-blogs" class="shrink-0"><a class="inline-flex items-center cursor-pointer styles_Anchor--secondary__3KsgY text-button-2" data-savepage-href="/mag/" href="https://www.digikala.com/mag/"><span>مطالب بیشتر در دیجی‌کالا مگ</span>
                        <div class="flex"><svg style="width: 18px; height: 18px; fill: var(--color-icon-secondary);"><use xlink:href="#chevronLeft"></use></svg></div>
                        </a>
                        </span>
                    </div>
                    <div class="grid grid-cols-1 lg:grid-cols-4 gap-3 items-stretch lg:justify-around px-5 lg:px-0">
                        <a class="bg-neutral-000 mb-1 border-complete-200 user-select-none rounded-medium flex flex-col h-full overflow-hidden article-card_ArticleCard__container__6Ks7Q" data-cro-id="hp-blogs" target="_blank" data-savepage-href="/mag/video/realme-c30s-dual-sim-32gb-and-2gb-ram-mobile-phone-unboxing-review/"
                            href="https://www.digikala.com/mag/video/realme-c30s-dual-sim-32gb-and-2gb-ram-mobile-phone-unboxing-review/">
                            <div style="line-height: 0;">
                                <img class="w-full article-card_ArticleCard__image__nrAQr inline-block" data-savepage-src="https://www.digikala.com/mag/wp-content/uploads/2023/10/08.03.jpg" src=""
                                    alt="بررسی گوشی ریلمی C30s؛ ارزان‌قیمت و جذاب‌تر از انتظار" title="" style="object-fit: cover;">
                            </div>
                            <div class="mt-2 mb-3 px-4 ellipsis-2 text-body-2 text-neutral-900 w-full text-right">بررسی گوشی ریلمی C30s؛ ارزان‌قیمت و جذاب‌تر از انتظار</div>
                        </a>

                    </div>
                </div>
                        </div>
                    </div>


{% endblock content %}
